/* Setup */
@import '/css/parts/fonts.css';

/* Base */
@import '/css/parts/base.css';

/* Apps */
@import '/css/apps/email/main-email.css';
@import '/css/apps/notes/main-note.css';

/* Components */
@import '/css/cmps/app-header.css';
@import '/css/cmps/app-footer.css';
@import '/css/cmps/app-main-content.css';
