.email-list {
  font-size: .875rem;
  display: flex;
  border-bottom: 1px solid rgba(235, 222, 222, 0.863);
  min-height: 20px;
  width: 980px;
  margin: 0 auto;
}

.email-list:first-child {
  border-top: 1px solid rgba(235, 222, 222, 0.863);
}

.email-list:hover {
  box-shadow: -7px 9px 15px -11px #000000;
  cursor: pointer;
}


