.email-compose .compose-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #444242;
  color: white;
  border-radius: 7px;
  font-size: 13px;
  width: inherit;
  height: 47px;
  font-size: 1rem;
  font-weight: bold;
}
.email-compose {
  position: fixed;
  bottom: -8px;
  left: 0;
  transform: translateY(100%);
  border-radius: 10px;
  border: 1px solid #333;
  background-color: white;
  height: 53%;
}

.open {
  left: 55vw;
  transform: translateY(0);
  transition: transform 1s;
}

.compose-inputs input{
  border: 0;
}

.wide{
  height: 93%;
  width: 61%;
  left: 17vw;
}

.wide-header{
  width: 100% !important;
}

.compose-close{
  margin-left: 1rem;
}

.compose-actions{
  display: flex;
  cursor: pointer;
}

.email-compose button{
  position: absolute;
  bottom: 15px;
  left: 10px;
}

