.email-preview {
  background-color: #e8edec;
  flex-grow: 1;
}

.preview-email-body {
  flex-grow: 1;
  margin-left: 5px;
  color: #979ca0;;
}
.sender-name {
  display: flex;
  margin-inline-start: 1vw;
  width: 22vw;
  align-items: center;
}

.email-subject{
  display: inline-block
}

.preview-star {
  align-self: center;
  margin-inline-start: 2px;
}

.preview-container {
  align-items: center;
}

.email-preview .preview-container {
  display: flex;
  /* justify-content: space-between; */
  height: 40px;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 9vw;
  margin-inline-end: 4px;
  opacity: 0;
}

.preview-container:hover  .actions {
  opacity: 1;
}
.actions:hover {
  opacity: 1;
}

.email-preview .preview-content {
  display: flex;
  justify-content: space-between;
}

.isStar {
  color: gold;
}

.preview-content{
  flex: 1;
}

