.home-page-container {
  width: 100%;
  height: 90vh;
  /* background-image:; */
  background: white;
  background: -webkit-linear-gradient(to left, #69696b, #0c1397);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.home-page-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gugi';
  gap: 1em;
  margin-bottom: 5em;
  letter-spacing: 10px;
}

.home-page-container .logo img {
  width: 100px;
  height: 100px;
}

.white-screen-container {
  width: 100vw;
  height: 79px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  /* z-index: 999; */
  opacity: 1 !important;
}

.home-page-container h1 {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 350px;
}

.home-page-container h1 span {
  font-size: 35px;
  /* margin-left: 40px; */
}

.home-page-container .message {
  background-color: yellow;

  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  /* padding-left: 0.5rem; */
  /* top: 0.2rem; */
  left: 160px;
  animation: openclose 5s ease-in-out infinite;
}

.home-page-nav {
  margin-top: 2em;
  z-index: 10;
  display: flex;
  /* gap: 110px; */
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 330px;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

.home-page-nav > * {
  opacity: 0.75;
  transition: font-size 0.3s;
  font-size: 2.5em;
}

.home-page-nav > *:hover {
  opacity: 1;
  font-size: 3.5em;
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}

.word1,
.word2,
.word3 {
  font-family: tahoma;
}

@keyframes color {
  0% {
    background: #33cccc;
  }
  20% {
    background: #33cc36;
  }
  40% {
    background: #b8cc33;
  }
  60% {
    background: #fcca00;
  }
  80% {
    background: #33cc36;
  }
  100% {
    background: #33cccc;
  }
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 170px;
  }
  30% {
    top: 0.2rem;
    width: 170px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
  }
  48% {
    top: -4.5rem;
    width: 170px;
  }
  62% {
    top: -4.5rem;
    width: 170px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 170px;
  }
  95% {
    top: -9rem;
    width: 170px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

.circles {
  position: absolute;
  top: 125px;
  left: 0;
  width: 100%;
  height: 89vh;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(137, 135, 138, 0.335);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
