.note-actions-container {
  opacity: 0;
}
.note-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.note-actions > *,
.note-actions-details > * {
  cursor: pointer;
  width: 30px;
  height: 30px;
  /* background-color: #00000075; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s;
  opacity: 0.71;
}

.note-actions > *:hover,
.note-actions-details > *:hover {
  opacity: 0.87;
  background-color: rgba(95, 99, 104, 0.257);
}
.color-palette {
}

.note-actions img {
  width: 20px;
  height: 20px;
}

.done {
  text-decoration: line-through;
}

.note-actions-details {
  display: flex;
  justify-content: center;
  gap: 3em;
}

i {
  cursor: pointer;
  transition: 0.3s;
}

.show-note-actions {
  transition: opacity 0.6s;
  opacity: 1;
}

.pinned {
  position: absolute;
  top: 5px;
  right: 2px;
}

/* .note-list-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj48cGF0aCBkPSJNMTkgM0g1Yy0xLjEgMC0yIC45LTIgMnYxNGMwIDEuMS45IDIgMiAyaDE0YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMTZINVY1aDE0djE0eiIvPgogIDxwYXRoIGQ9Ik0xOCA5bC0xLjQtMS40LTYuNiA2LjYtMi42LTIuNkw2IDEzbDQgNHoiLz4KPC9zdmc+Cg==);
} */
