.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-flow: dense;
  overflow: auto;
  padding: 1rem;
  gap: 1rem;
}

.note {
  padding: 1rem;
  border-radius: 8px;
}
