textarea {
  resize: none;
  border-radius: 5px;
  font-family: poppins;
  width: 350px;
  border: none;
}
.note-details input {
  padding: 5px;
}

.note-title-input {
  border-radius: 5px;
  font-family: poppins;
  font-weight: bold;
  width: 350px;
  border: none;
}

.note-img-input {
  border-radius: 5px;
  font-family: poppins;
  font-weight: bold;
  width: 350px;
}

.note-txt-details,
.note-img-details {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.todo-input {
  border: none;
  font-family: poppins;
}

.todo-input:focus {
  outline: none;
}
