.note-types-add {
  display: flex;
  gap: 1em;
}

.notes-add-container {
  display: flex;
  gap: 5px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border: 1px solid #e0e1e0;
  border-radius: 8px;
  max-width: 600px;
  padding: 11px;
  justify-content: space-between;
  align-self: center;
}

.notes-add-container input {
  border: none;
  text-align: left;
  width: 100%;
}

.notes-add-container input:focus {
  outline: none;
}
