@font-face {
  font-family: poppins;
  src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: poppins;
  src: url('../fonts/Poppins-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: poppins;
  src: url('../fonts/Poppins-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: roboto;
  src: url('"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
}


