.email-app {
  display: flex;
}

.email-app .side-nav-bar {
  margin: 0 3vw;
  width: 15vw;
}

.compose {
    justify-content: space-around;
    align-items: center;
    width: 14vw;
    background-color: white;
    border-radius: 21px;
    border-color: #77889914;
    box-shadow: -10px 5px 7px -10px #919e9d;
    max-width: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
    display: block;
    height: 48px;
    min-width: 56px;
}
.compose:hover {
  box-shadow: -10px 5px 7px -3px #919e9d;
  cursor: pointer;
}

.compose img {
  width: 13%;
}

.read {
    font-weight: bold;
}

.bgc{
    background-color: white;
}
